
<div class="p-4">
    <div class="btn btn-secondary mb-3" (click)='goHome()'>
        Back
     </div>
   
    <div *ngIf="category === 'Table'">
        <h2 class="mb-3">{{title}}</h2>
        <h4 class="py-5">{{description}}</h4>
        
        <table id="example2" datatable [dtOptions]="dtOptions" class="table" >
            <thead>
              <tr>
                <th *ngFor="let field of selectedFields">{{field}}</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of listOfBook">
                  <td *ngFor="let field of selectedFields">{{
                    field === 'Autori' ? (book.bookAuthor | titlecase)
                     : 
                     field === 'Titulli' ? (book.bookTitle | uppercase)
                      : 
                      field === 'Data publikimi' ? (book.publishDate | date:'shortDate')
                       : 
                      field === 'Pershkrimi' ? (book.bookDescription | lowercase)
                      : 
                     book.bookCategory}}</td>
                </tr>

              
            </tbody>
          </table>
    </div>

    <div *ngIf="category==='Chart'">
        <div class="container">
            <app-barchart>

            </app-barchart>
        </div>
      
    </div>

      
  </div>
  
  
  